// color
$color-main: #ebb94d;
$color-bg: #fef5e0;
$color-caution-bg: #016ea9;
$color-sec9: #016ea9;
$color-sec12: #f7c23c;
$color-footer-bg:#ececec;
$color-button: #da6b64;
$color-twitter: #1b95e0;
$color-sns-item: #1877f2;
$color-link: #337ab7;