.footer {
  position: relative;
  padding: 40px 0 25px;
  background-color: $color-footer-bg;
  text-align: center;
  &__container {
    @include container;
  }
  &__copyright {
    font-size: 10px;
    font-weight: 300;
    a {
      color: $color-link;
      text-decoration: none;
    }
  }
  &__copyright--mt {
    margin-top: 30px;
    font-size: 10px;
    font-weight: 300;
    a {
      color: $color-link;
      text-decoration: none;
    }
  }
  .sns-list {
    color: #fff;
    margin-top: 15px;
  }
}