.section7 {
  padding: 40px 0 76px;
  text-align: center;
  background-image: url(../../img/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  &__container {
    @include container;
  }
  &__title-wrap {
    margin-top: 20px;
  }
  &__title {
    @include txt-l;
  }
  &__subhead {
    @include txt-s;
    margin-top: 40px;
  }
  &__item-wrap {
    margin: 10px auto  0;
    width: 780px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 375px;
  }
  &__img-wrap {
    position: relative;
    bottom: -35px;
    img {
      border-radius: 50%;
      width: 198px;
      height: 198px;
    }
  }
  &__lead-wrap {
    padding: 40px 40px 50px;
    border: 3px solid #fff;
  }
  &__position {
    font-size: 16px;
    font-weight: 300;
  }
  &__name {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
  }
  &__item-lead {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
  }
}