.section5 {
  text-align: center;
  padding: 40px 0 50px;
  &__container {
    @include container;
  }
  &__heading-wrap {
    margin-top: 20px;
  }
  &__heading {
    @include txt-l;
  }
  &__lead {
    font-weight: 300;
    font-size: 20px;
    margin-top: 39px;
  }
  &__item-wrap {
    width: 810px;
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
  }
  &__img-wrap {
    width: 25%;
  }
  &__img-wrap + &__img-wrap {
    margin-left: 30px;
  }
  &__text {
    margin-top: 40px;
    @include txt-s;
  }
}