.section10 {
  text-align: center;
  padding: 40px 0;
  &__container {
    @include container;
  }
  &__title {
    @include txt-l;
    margin-top: 20px;
  }
  &__feature {
    margin: 50px auto 0;
    img {
      width: 1000px;
      height: 182px;
    }
  }
  &__item-wrap {
    margin-top: 40px;
    width: 1170px;
  }
  &__item {
    width: 1170px;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px 35px;
    background-color: $color-bg;
    display: flex;
    box-sizing: border-box;
  }
  &__img-wrap {
    padding: 20px;
    width: 200px;
    box-sizing: border-box;
  }
  .consult {
    width: 98px;
    height: 91px;
  }
  .preworks {
    width: 113px;
    height: 90px;
  }
  .flight {
    width: 106px;
    height: 95px;
  }
  .person {
    width: 93px;
    height: 111px;
  }
  .job {
    width: 98px;
    height: 90px;
  }
  &__img-wrap--mt {
    margin-top: 40px;
    padding: 20px;
    width: 200px;
    box-sizing: border-box;
  }
  &__img-desc {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
  }
  &__border-wrap {
    width: 762px;
    margin: 0 auto;
  }
  &__border--left {
    border-left: 2px solid $color-main;
    height: 31px;
  }
  &__border--right {
    border-right: 2px solid $color-main;
    height: 31px;
  }
  &__border--top {
    border-top: 2px solid $color-main;
  }
  &__caption-wrap {
    margin-top: 10px;
    text-align: left;
    width: 900px;
  }
  &__caption {
    margin: 20px 0;
    @include txt-s;
  }
  &__caption--small {
    margin: 20px 0;
    @include txt-xs;
  }
}