.section15 {
  background-color: $color-main;
  padding: 40px 0 70px;
  text-align: center;
  &__container {
    @include container;
  }
  &__title-wrap {
    margin-top: 20px;
}
  &__title {
    @include txt-l;
  }
  &__subhead {
    @include txt-s;
    margin-top: 20px;
  }
  &__form {
    margin: 35px auto 0;
    width: 733px;
  }
  &__input {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
  }
  &__input-wrap + &__input-wrap {
    margin-top: 25px;
  }
  &__input-wrap--textarea {
    margin-top: 42px;
  }
  &__textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
  }
  &__submit-wrap {
    margin-top: 35px;
  }
  &__submit {
    @include button;
    padding: 10px 80px;
    font-size: 23px;
    font-weight: 600;
  }
}